<center>
	<h3><strong>Fabricación Producto</strong></h3>
	<p>Ingresar Envío a Producción</p>
</center>

<form role="form" name="form" class="form-horizontal" >

  <script cam-script type="text/form-script">

	//CARGAR VARIABLES DE PROCESO DEFINIDAS EN FORMULARIOS/DELEGATES PREVIOS

	//traer variable 'MONEDA_PRESUPUESTO' 
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('MONEDA_PRESUPUESTO');
	});
	camForm.on('variables-fetched', function() {
  		$scope.MONEDA_PRESUPUESTO = camForm.variableManager.variableValue('MONEDA_PRESUPUESTO');
	});

	//traer variable 'TIPO_CLIENTE'
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('TIPO_CLIENTE');
	});
	camForm.on('variables-fetched', function() {
  		$scope.TIPO_CLIENTE = camForm.variableManager.variableValue('TIPO_CLIENTE');
	});

	//traer variable 'UNIDADES_PRESUPUESTO'
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('UNIDADES_PRESUPUESTO');
	});
	camForm.on('variables-fetched', function() {
  		$scope.UNIDADES_PRESUPUESTO = camForm.variableManager.variableValue('UNIDADES_PRESUPUESTO');
	});
	
	//traer variable 'NOMBRE_PRODUCTO'
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('NOMBRE_PRODUCTO');
	});
	camForm.on('variables-fetched', function() {
  		$scope.NOMBRE_PRODUCTO = camForm.variableManager.variableValue('NOMBRE_PRODUCTO');
	});

	//traer variable 'COTIZACION_DOLAR'
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('COTIZACION_DOLAR');
	});
	camForm.on('variables-fetched', function() {
  		$scope.COTIZACION_DOLAR = camForm.variableManager.variableValue('COTIZACION_DOLAR');
	});

	//traer variable 'pago' ingresada en el start-form	
	camForm.on('form-loaded', function() {
  		camForm.variableManager.fetchVariable('pago');
	});
	camForm.on('variables-fetched', function() {
  		$scope.pago = camForm.variableManager.variableValue('pago');
	});

	var dataProductoMN = $scope.dataProductoMN={
		proveedoresMN : [],
		total : 0
	};
	var subtotal = $scope.subtotal = {};

	//DEFINIR FUNCIONES DE USO EN EL FORMULARIO

	//CALCULAR TOTAL Y SETEAR VALOR EN dataProductoMN.total
	$scope.total= function(){
		var total=0;
		for(var i=0; i < $scope.dataProductoMN.proveedoresMN.length; i++)
		{
			var prov= $scope.dataProductoMN.proveedoresMN[i];
				
				if ( isNaN(prov.precio) )
					prov.precio= 0;
				else	
					total += prov.precio;
			
		}
		$scope.dataProductoMN.total= total;
		return total;
	}

	//funcion para calcular el total
	//$scope.calcularTotal = function(tasaCambio) {
	//	var totalDolares= $scope.getSubTotalDolares();
	//	var totalPesos= $scope.getSubTotalPesos();
	//	var total= $scope.convertirUSD(totalPesos,tasaCambio) + totalDolares;
	//	$scope.dataProductoMN.total= total;
	//	return total;
	//}
	
	//funcion scope que agrega proveedores
	$scope.agregarProveedor= function() {
		dataProductoMN.proveedoresMN.push({});
		$scope.errorProveedoresVacio= false;
	};	
	//funcion para quitar proveedores
	$scope.quitarProveedor = function (x) {
        dataProductoMN.proveedoresMN.splice(x, 1);
    } 
	//funcion para calcular sub-total en USD 
	//$scope.getSubTotalDolares = function() {
	//	var subTotal= 0;
	//	for(var i=0; i < $scope.dataProductoMN.proveedoresMN.length; i++)
	//	{
	//		var prov= $scope.dataProductoMN.proveedoresMN[i];
	//		var moneda= $scope.dataProductoMN.proveedoresMN[i].moneda;
	//		if(moneda == "USD")
	//		{	
	//			if ( isNaN(prov.precio) )
	//				prov.precio= 0;
	//			else	
	//				subTotal += prov.precio;
	//		}		
	//	}
	//	return subTotal;
	//}

	//funcion para calcular sub-total en Pesos 
	//$scope.getSubTotalPesos = function() {
	//	var subTotal= 0;
	//	for(var i=0; i < $scope.dataProductoMN.proveedoresMN.length; i++)
	//	{
	//		var prov= $scope.dataProductoMN.proveedoresMN[i];
	//		var moneda= $scope.dataProductoMN.proveedoresMN[i].moneda;
	//		if(moneda == "$U")
	//		{	
	//			if ( isNaN(prov.precio) )
	//				prov.precio=0;
	//			else
	//				subTotal += prov.precio;
	//		}	
	//	}
	//	return subTotal;
	//}

	//bandera para indicar si hay existe algun precio de proveedor en pesos
	//$scope.existePesos = function() {
	//	var existePesos= false;
	//	for(var i=0; i < $scope.dataProductoMN.proveedoresMN.length; i++)
	//	{
	//		var prov= $scope.dataProductoMN.proveedoresMN[i];
	//		var moneda= $scope.dataProductoMN.proveedoresMN[i].moneda;
	//		if(moneda == "$U")
	//		{	
	//			existePesos = true;
	//		}		
	//	}
	//	return existePesos;
	//}

	$scope.convertirUSD= function(monto,tasaCambio){
		var dolares=0;
		if( isNaN(tasaCambio) )
		{
			dolares=0;
		}
		else if(tasaCambio <= 0)
		{
			dolares=0;
		}
		else if(subTotal > 0)
		{
			dolares= (monto / tasaCambio);
		}
		return dolares;
	}	

	//funcion para quitar mensaje de error en cantidad
	$scope.limpiarMensaje= function(){
		if(dataProductoMN.cantidad > 0)
			$scope.errorCantidadVaciaONula= false;
	};
	
	//$scope.monedas=["USD","$U"]

	//DECLARACION  DE VARIABLES SERIALIZABLES
	
	//enganchar con el ciclo de vida del formulario camunda SDK 
	camForm.on('form-loaded',function() {
		
		//declarar variable 'dataProductoMN' incluyendo metadata para serializacion
		camForm.variableManager.createVariable({
			name: 'dataProductoMN',
			type: 'Object',
			value: dataProductoMN,
			valueInfo: {
			  //indicar que el objeto es serializado como json
			  serializationDataFormat: 'application/json',
			  //proveer nombre de la clase java a mapear
			  objectTypeName: 'org.camunda.bpm.menini_nicola.mn_desarrollo_productoMN.modelo.ProductoMN'
			}
		});
	});

	//CONTROL DEL CICLO DEL FORMULARIO CAMUNDA SDK
 
	//para que funcione el agregar proveedores dinamicamente
	camForm.on('submit', function(){
		angular.forEach(dataProductoMN.proveedoresMN, function(prvdr) {
			delete prvdr.$$hashKey;
		});
	});

	//verificar ingreso de datos obligatorios antes de enviar formulario al servidor
	camForm.on('submit', function(evt) {
      // manejar submit
      // evitar envio de formulario si hay errores:
	  
	  //verificar que exista al menos un proveedor
	  if(dataProductoMN.proveedoresMN.length == 0)
	  {
      	evt.submitPrevented = true;
		$scope.errorProveedoresVacio= true; 
      }
	  else
	  {
		evt.submitPrevented = false;
		$scope.errorProveedoresVacio= false;
	  }
	  //verificar que la cantidad de productos sea mayor a cero
	  if(dataProductoMN.cantidad < 1)
	  {
	  	evt.submitPrevented = true;	
		$scope.errorCantidadVaciaONula= true;
	  }
	  else 
	  {
		evt.submitPrevented = false;
		$scope.errorCantidadVaciaONula= false;
	  }
    });

  </script>
  	
  	  <div class="control-group">
  		<label class="control-label">Moneda del Presupuesto: {{MONEDA_PRESUPUESTO}}</label>
	  </div>
	  <div class="control-group">
  		<label>Cotización del dolar: $U {{COTIZACION_DOLAR}} </label>
	  </div>
	  <div class="control-group">
  		<label class="control-label">Tipo de cliente: {{TIPO_CLIENTE}}</label>
	  </div>		
  	  <div class="control-group">
  		<label class="control-label">Seña recibida: {{pago.moneda+" "}}{{pago.senia | number : 2}}</label>
	  </div>
	  <label for="categoria" class="control-label">Cotización</label>
	  <select cam-variable-name="cotizacion"
      		  cam-variable-type="String"
              cam-choices="PRESUPUESTOS_APROBADOS"
              ng-required="!cancelarProduccion"
              readonly
              class="form-control">
	  </select>
	  <div class="row">
	    <div class="col-xs-2">
  			<label for="CANTIDAD" class="control-label">Unidades</label>
  				<input 	id="idCantidad" 
   						class="form-control"
   						type="number" 
   						ng-required="!cancelarProduccion"
   						ng-model="UNIDADES_PRESUPUESTO"
    	   				readonly>	
 		 </div>
         <div class="col-xs-10">
	  	 	<label for="NOMBRE_PRODUCTO" class="control-label">Nombre del Producto</label>
	  	 		<input 	id="idNombreProducto" 
   						class="form-control"
   						type="string" 
   						ng-required="!cancelarProduccion"
   						ng-model="NOMBRE_PRODUCTO"
    	   				readonly>
       	 </div>
      </div>
      <label class="control-label">Observaciones</label>
	  <div class="control-group">
      	<div class="controls">
   	  		<input 	id="idTrabajoRealizado"
   					class="form-control"
   					type="text"
   					ng-model="dataProductoMN.trabajoRealizado"
    				placeholder="ej. 'retapizado' ">
    	</div>
      </div>
            
	  <br>
		
	  <div class="control-group" align="center">
      	<button ng-click="agregarProveedor()"> Agregar Proveedor</button>
      </div>
	  
	  <!-- agregar proveedor -->
	  
	  <div ng-repeat="prov in dataProductoMN.proveedoresMN">
	 	<hr>	
	   	<div class="control-group">
       		<label for="PROVEEDOR" class="control-label">Tipo de Proveedor *</label>
      		<div class="controls">
      			<input  id="idTipoProveedor"
      				    class="form-control" 
      		   			type="text"
      		   			ng-required="!cancelarProduccion"      		 
      		  			ng-model="prov.tipoProveedor"
      		   			name="PROVEEDOR" 
               			maxlength=100>
         		   	   		
            	<!--validar ingreso de proveedor-->
      			<p>
      				<span style="color:red" ng-show="form.PROVEEDOR.$dirty && form.PROVEEDOR.$invalid">
  						<span ng-show="form.PROVEEDOR.$error.required">tipo proveedor es obligatorio</span>
  					</span>
      			</p>   	   		
            </div>
        </div>
       	<div class="row">
        	<div class="col-xs-2">
        		<label  class="control-label">Moneda *</label>
        		<div ng-if=" MONEDA_PRESUPUESTO == 'USD'">
      				<select ng-model="prov.moneda"
							ng-required="!cancelarProduccion"
							readonly>
						<option>USD</option>
					</select>
	  			</div>
	  			<div ng-if=" MONEDA_PRESUPUESTO == '$U'">
      				<select ng-model="prov.moneda"
							ng-required="!cancelarProduccion"
							readonly>
						<option>$U</option>
					</select>
	  			</div>
			</div>
            <div class="col-xs-8">
            	<label  class="control-label">Precio *</label>
   				<input 	id="idPrecio"
   						class="form-control"
   						type="number" 
   						ng-required="!cancelarProduccion"
   						ng-model="prov.precio"
    	   				name="PRECIO">
    	   				<!--validar ingreso de precio-->
      					<p>
      						<span style="color:red" ng-show="form.PRECIO.$dirty && form.PRECIO.$invalid">
  								<span ng-show="form.PRECIO.$error.required">precio proveedor es obligatorio</span>
  							</span>
      					</p>
      		</div>
      		<div class="col-xs-2">
      			<label  class="control-label">Iva *</label>
      			<div ng-if=" TIPO_CLIENTE == 'CONSUMIDOR FINAL'">
      				<select ng-model="prov.ivaProveedor"
							ng-required="!cancelarProduccion"
							readonly>
						<option>IVA INC.</option>
					</select>
	  			</div>
	  			<div ng-if=" TIPO_CLIENTE == 'CORPORATIVO'">
	  				<select ng-model="prov.ivaProveedor"
							ng-required="!cancelarProduccion"
							readonly>
						<option>S/IVA</option>
					</select>
	  			</div>
      		</div>
      	</div>	
		<label for="DETALLES" class="control-label">Detalles</label>
      		<div class="controls">
   				<input 	id="idDetalles"
   						class="form-control"
   						type="text" 
   						ng-model="prov.detalles"
    					name="DETALLES">
    		</div>
      	<br>
      	<div class="control-group" style="float:left;">
      		<button ng-click="quitarProveedor($index)">&times; Quitar Proveedor</button>
      	</div>
      </div>
            
      <div ng-if="errorProveedoresVacio">
		<p style="color:red;font-weight:bold">debe ingresar al menos un proveedor</p>
	  </div>
      <div ng-if="errorCantidadVaciaONula">
		<p style="color:red;font-weight:bold">las unidades deben ser mayor a 0</p>
	  </div>
	  
	  <hr>
	         	
<!--       <div class="control-group" ng-show="existePesos()"> -->
<!--       	<label class="control-label">Taza de cambio *: </label> -->
<!--       	<input 	id="idTazaCambio" -->
<!--    				class="form-control" -->
<!--    				type="number"  -->
<!--    				ng-model="tazaCambio" -->
<!--     			name="TAZA_CAMBIO" -->
<!--     	   		ng-init= "0"> -->
    					
<!--     	   		validar ingreso de precio -->
<!--       			<p> -->
<!--       				<span style="color:red" ng-show="form.TAZA_CAMBIO.$dirty && form.TAZA_CAMBIO.$invalid"> -->
<!--   						<span ng-show="form.TAZA_CAMBIO.$error.required">la taza de cambio es obligatorio</span> -->
<!--   					</span>					 -->
<!--       			</p> -->
<!--      </div>    -->
      	<div class="controls">
	    	<label class="control-label">TOTAL ({{MONEDA_PRESUPUESTO}})</label>
      	</div>
      	<div class="row">	      			
      		<div class="col-xs-4">
      			<input ng-value= "total() | number : 2" 	
      				   readonly>
				<!-- <input ng-value= "calcularTotal(tazaCambio) | number : 2" 	
      				   readonly> -->
      		</div>	   
      		<div class="col-xs-8" align="left">
      			<div ng-if=" TIPO_CLIENTE == 'CONSUMIDOR FINAL'">
  					<label class="control-label">IVA INC.</label>
	  			</div>
	  			<div ng-if=" TIPO_CLIENTE == 'CORPORATIVO'">
	  				<label class="control-label">S/IVA</label>
	  			</div>
			</div>
		</div>		     
		<br>
	
		<div align="left">
			<br>
	    	<input type="checkbox"
	        	   cam-variable-name="cancelarProduccion"
	           	   cam-variable-type="Boolean"
	           	   name="cancelarProduccion"
	           	   class="form-control" 
	           	   ng-readonly="cancelarProduccion == true">
	        <label for="descartarPresupuesto">cancelar</label>
		</div>
      </div>
</form>