<center>
	<h1><strong>Desarrollo ProductoMN</strong></h1>
	<h2><p>Ingresar Seña</p></h2>
</center>

<form role="form" name="form" class="form-horizontal" >

  <script cam-script type="text/form-script">
  
  	var pagoInicial= $scope.pagoInicial= {};
	
	camForm.on('form-loaded', function(){
	
		camForm.variableManager.createVariable({
			name: 'pagoInicial',
			type: 'json',
			value: pagoInicial
		});
	});

	$scope.monedas=["USD","$U"]
	  
  </script>
  
  <div class="control-group">
    <div class="controls">
     <div class="row">
      	<div class="col-xs-2">
          <select ng-init="prov.moneda = monedas[0]"
    	          ng-model="prov.moneda" 
    		      ng-options="x for x in monedas">
	      </select>
	    </div>
    	<div class="col-xs-10">
          <input id="idPagoInicial"
   			     class="form-control"
   			     type="number" 
   			     required
   			     ng-model="pagoInicial"
    	   	     name="PAGO_INI">
    	 </div>
      </div>
     </div>
    </div>
</form>