<center>
	<h1><strong>Desarrollo ProductoMN</strong></h1>
	<h2><p>Ingresar Seña</p></h2>
</center>

<form role="form" name="form" class="form-horizontal" >

  <script cam-script type="text/form-script">
  
	$scope.monedas=["USD","$U"]

	var pago = $scope.pago = {};

    camForm.on('form-loaded', function() {

    // declaro una variable 'json' nombrada 'pago' 
    camForm.variableManager.createVariable({
        name: 'pago',
        type: 'json',
        value: pago
      });
    });

  </script>
  
     <div class="row">
      	<div class="col-xs-2">
 			<div class="control-group">
 				<div class="controls">
            		<select ng-init="pago.moneda = monedas[0]"
            				ng-model="pago.moneda" 
            				ng-options="x for x in monedas"
            				required>
					</select>
				</div>
			</div>
		</div>
		
	    <div class="col-xs-10">
	    	<div class="control-group">
	    		<div class="controls">
          			<input id="senia" 
          				   class="form-control"
          				   type="number"
          				   ng-model="pago.senia"
          				   required
          				   name="SENIA" />
          			
          			<p>
      					<span style="color:red" ng-show="form.SENIA.$dirty && form.SENIA.$invalid">
  							<span ng-show="form.SENIA.$error.required">ingreso de seña es obligatorio</span>
  						</span>
      				</p>
          			
    			</div>
    		</div>
    	</div>
    	 
	  </div>

</form>